# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/

# ===============================
# Flask / Runtime
# ===============================
instance/

# ===============================
# Large Assets
# ===============================
static/images/crop-background.png

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/

# ===============================
# Logs
# ===============================
*.log
