# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/

# ===============================
# Flask / Runtime
# ===============================
instance/
uploadimages/

# ===============================
# AI / ML Models
# ===============================
models/
*.keras
*.h5

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/

# ===============================
# Logs
# ===============================
*.log
